/*BUTTON*/
.button-dates {
  padding: 12px;
  background: #f5b220;

  img {
    width: 18px;
    height: 18px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(320deg) brightness(102%) contrast(101%);
  }
}
